@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Recursive:wght@300;400;500;600;700;800;900&family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body { 
    width: 100%; 
    height: 100%; 
    font-family: 'Recursive', sans-serif; 
    background-color: rgba(251, 107, 107, 1);
  
} 
* { 
    box-sizing: border-box;
}  

.containerInicio{  
    width: 100%; 
    height: 900px;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
} 

.containerInicio > img{ 
    width: 136px; 
    height: 161px; 
    margin-bottom: 20px;
} 

.containerInicio > h2 { 
    font-family: 'Righteous', cursive; 
    color: rgba(255, 255, 255, 1);
    font-size: 36px; 
    margin-bottom: 35px;
} 

.containerInicio  button { 
    width: 246px; 
    height: 54px; 
    color: rgba(215, 9, 0, 1); 
    background-color: rgba(255, 255, 255, 1); 
    border-radius: 5px;  
    border: 1px solid rgba(215, 9, 0, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15); 
    font-size: 18px; 
    font-family: 'Recursive', sans-serif;
}   

.containerInicio  button:hover { 
    cursor: pointer;
}  

.jogo { 
    width: 100%; 
    height: 100%;  
    display: flex;
    justify-content: center; 
    flex-direction: column;
}

.jogo > .header{ 
    display: flex; 
    align-items: center; 
    justify-content: center;
    margin-top: 48px; 
    width: 100%; 
    height: 60px;
} 

.jogo > .header > img { 
    width: 52px; 
    height: 60px; 
} 

.jogo > .header > h3 { 
    font-size: 36px; 
    color: rgba(255, 255, 255, 1);
    font-family: 'Righteous', cursive;  
    margin-left: 25px;
}  

.perguntas { 
    width: 100%; 
    height: 100%; 
    display: flex; 
    justify-content: center; 
    align-items: center;  
    margin-top: 58px;   
}  

.perguntas > ul > li > .pergunta { 
    width: 300px; 
    height: 65px; 
    background-color: rgba(255, 255, 255, 1); 
    display: flex; 
    align-items: center;
    justify-content: space-between; 
    padding-left: 18px; 
    padding-right: 18px; 
    box-shadow: 4px 4px 5px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px; 
} 

.jogo .perguntas > ul > li ion-icon { 
    width: 40px; 
    height: 40px; 
    color: rgba(51, 51, 51, 1); 
    font-weight: 700;
}  

.jogo .perguntas ion-icon:hover { 
    cursor: pointer;
}

.perguntas > ul > li > .pergunta > span { 
    font-size: 16px; 
    font-weight: 700; 
    color: rgba(51, 51, 51, 1);
} 

.perguntas > ul > li > .enunciado { 
    background-color:rgba(255, 255, 212, 1);
    width: 299px; 
    height: 131px; 
    display: flex; 
    padding-top: 17px; 
    padding-left: 15px;  
    border-radius: 5px; 
    box-shadow: 4px 4px 5px 4px rgba(0, 0, 0, 0.15);
    position: relative; 
    display: inline-block;
} 

.perguntas > ul > li > .enunciado ion-icon { 
    position: absolute; 
    bottom: 0; 
    right: 10px;
} 

.perguntas > ul > li > .enunciado > .botoes { 
    position: absolute; 
    left: 12px; 
    bottom: 6px; 
    display: flex; 
    justify-content: space-between;
}  

.botoes > button{ 
    width: 85px;
    height: 37px; 
    color: rgba(255, 255, 255, 1); 
    border-radius: 5px;
    border: none; 
    font-size: 13px; 
    font-weight: 400;
} 

.botoes > button:hover{ 
    cursor: pointer;
}

.botoes #wrong { 
    background-color: rgba(255, 48, 48, 1); 
    margin-right: 8px; 
    word-wrap: break-word; 
} 

.botoes #maybe { 
    background-color: rgba(255, 146, 46, 1); 
    margin-right: 8px; 
    word-wrap: break-word; 
} 

.botoes #right { 
    background-color:rgba(47, 190, 52, 1); 
} 

.perguntas > ul > li > .perguntaRespondida { 
    width: 300px; 
    height: 65px; 
    background-color: rgba(255, 255, 255, 1); 
    display: flex; 
    align-items: center;
    justify-content: space-between; 
    padding-left: 18px; 
    padding-right: 18px; 
    box-shadow: 4px 4px 5px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px; 
    font-weight: 700;
}   

.perguntas > ul > li > .perguntaRespondida > span#wrong { 
    color: rgba(255, 48, 48, 1); 
    text-decoration: line-through;  
} 

.perguntas > ul > li > .perguntaRespondida > span#maybe { 
    color: rgba(255, 146, 46, 1); 
    text-decoration: line-through;  
} 

.perguntas > ul > li > .perguntaRespondida > span#right { 
    color: rgba(47, 190, 52, 1); 
    text-decoration: line-through;  
}

.perguntas > ul > li > .perguntaRespondida > ion-icon { 
    width: 30px;
    height: 30px; 
}

.perguntas > ul > li > .perguntaRespondida > ion-icon[name="close-circle"] { 
    color: rgba(255, 48, 48, 1); 
}  

.perguntas > ul > li > .perguntaRespondida > ion-icon[name="help-circle"] { 
    color: rgba(255, 146, 46, 1); 
}  

.perguntas > ul > li > .perguntaRespondida > ion-icon[name="checkmark-circle"] { 
    color: rgba(47, 190, 52, 1); 
}  

.container{ 
    margin-bottom: 100px;
}

.jogo > .rodape { 
    width: 100%; 
    height: 70px; 
    display: flex; 
    justify-content: center; 
    align-items: center;  
    flex-direction: column;
    background-color: rgba(255, 255, 255, 1); 
    box-shadow: 0px -4px 6px 0px rgba(0, 0, 0, 0.05);
    position: fixed;   
    font-size: 18px;
    left: 0; 
    bottom: 0;  
    margin-top: 500px;
}  

.jogo > .rodapeFim { 
    width: 100%; 
    height: 171px; 
    display: flex; 
    justify-content: space-between; 
    align-items: center;  
    flex-direction: column;  
    padding-top: 16px; 
    padding-bottom: 12px;
    font-size: 18px;
    background-color: rgba(255, 255, 255, 1); 
    box-shadow: 0px -4px 6px 0px rgba(0, 0, 0, 0.05); 
    position: fixed;  
    left: 0; 
    bottom: 0; 
} 

.jogo > .rodapeFim > a { 
    font-weight: bold;
} 

.jogo > .rodapeFim > button { 
    width: 167px;
    height: 32px; 
    background-color: rgba(251, 107, 107, 1);
    color:rgba(255, 255, 255, 1);
    font-size: 14px; 
    font-weight: 400; 
    border-radius: 5px; 
    border:rgba(251, 107, 107, 1);
} 

.jogo > .rodapeFim > button:hover { 
    cursor: pointer;
}